/*--------------------------------------------------
# Gerenal
--------------------------------------------------*/
/*icon color:  #A89E9E
  text color:  #404040 
  Scicom Blue: 29ABE2
  Scicom Green: BADD7F */
@font-face {
    font-family: myFontB;
    src:url("font/BRLNSB.TTF");
}

@font-face {
    font-family: myFontDB;
    src:url("font/BRLNSDB.TTF");
}

@font-face {
    font-family: myFontR;
    src:url("font/BRLNSR.TTF");
}

@media screen and (orientation: landscape) {
  html {
    /* Rotate the content container */
    transform: rotate(-90deg);
    transform-origin: left top;
    /* Set content width to viewport height */
    width: 100vh;
    /* Set content height to viewport width */
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

button, h1,h2,h3,h4,p{
  color: #4d4d4d;
  font-family: myFontDB;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.header{
/*  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;*/
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.header button{
  width: 12%;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header a{
  width: 12%;
}

.homeIcon {
  width: 100%;
  opacity: 0.65;
} 

.generalBtn{
  border: 2px solid #BADD7F;
  border-radius: 15px;
  background-color: #BADD7F;
  box-shadow: 1px 2px 2px grey;
  font-size: 28px;
  font-family: "myFontDB";
  color: white; 
  padding-top: 1%;
  padding-bottom: 1%;
  width: 35%;
  font-size: 28px;
}

.generalBtn2{
  border: 2px solid #BADD7F;
  border-radius: 15px;
  background-color: #BADD7F;
  box-shadow: 1px 2px 2px grey;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 65%;
  font-size: 28px;
  margin-top: 8%;
  color: white;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} 

.foot{
  height: 50px;
}

.show {display: block;}

.hide {display: none;}

/*--------------------------------------------------
# index
--------------------------------------------------*/

.title {
  width: 90%;
  padding-top: 15%;
} 

.index-bg {
  background-image: url("../img/coverBg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonDiv{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indexBtn{
  border: 2px solid #29ABE2;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 2px grey;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 100%;
  font-size: 28px;
  font-family: "myFontDB";
  margin-top: 20%; 
  color: #29ABE2; 
}

.indexBtn-img{
  width: 100%;
}
/*--------------------------------------------------
# Rules
--------------------------------------------------*/
.rule-bg {
  background-image: url("../img/rule_bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.rule-header{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  width: 80%;
}

.rule-header button{
  width: 12%;
  padding: 0;
  border: none;
  background-color: none;
  opacity: 0;
}

.rule-header a{
  width: 12%;
}

#ruleTitle{
  margin-top: 0;
  margin-bottom: 0;
  font-family: myFontB;
  font-size: 36px;
}

.ruleText{
  padding-left: 10%;
  padding-right: 5%;
  line-height: 120%;
  color:black;
  font-family: myFontDB;
  font-size: 24px;
}

.ruleText li{
  padding-left: 3%;
  margin-top: 5%;
}

.ruleText ol{
  padding-left: 3%;
  margin-bottom: 0;
}

.ruleText p{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.ruleBtn{
  float: right; 
  margin-right: 8%;
}

/*--------------------------------------------------
# Rules - Popup
--------------------------------------------------*/
.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
/*  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); */
}

/* Modal Content */
.modal-content {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 3px #e3e1e1;
  border-radius: 10px;
  width: 80%;
  height: 88%;
  padding: 3%;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.modal-content button{
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 3px #e3e1e1;
  width: 10%;
  padding: 2%;
}

.modal-text{
  margin-left: 3%;
  margin-right: 3%;
  line-height: 150%;
}

.popupRulesTitle h2{
  margin-top: 0;
  margin-bottom: 1%;
}

.popupRules{
  padding-left: 5%;
  padding-right: 5%;
  line-height: 150%;
  color: #4d4d4d;
}

.popupRules li{
  padding-left: 3%;
  margin-bottom: 6%;
}

.popupRules ol{
  padding-left: 8%;
}
/*--------------------------------------------------
# GamePage - select roles
--------------------------------------------------*/
.mainText{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 25%;
  line-height: 200%;
}

.mainText h2{
  font-weight: normal;
  color: #4d4d4d;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 0;
}

.choiceBtn{
  border: 2px solid #29ABE2;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 2px grey;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 70%;
  font-size: 28px;
  margin-top: 10%;
  color: #29ABE2;
}

.choiceBtnDiv{
  margin-top: 5%;
}


/*--------------------------------------------------
# Designer Page 1
--------------------------------------------------*/
.designerPageText{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 15%;
}

/*.designerPageText h2{
  line-height: 150%;
  color: #4d4d4d;
  font-size: 28px;
}*/

.designerPageText h1{
  color: #4d4d4d;
  margin-top: 0;
}

.designerPageText h3{
  font-weight: normal;
  color: #4d4d4d;
  margin-top: 15%;
  font-size: 24px;
}

.designerPage-img{
  width: 100%;
}

/*--------------------------------------------------
# Investor Page 1
--------------------------------------------------*/
.investor-bg {
  background-image: url("../img/investor/investor_bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#investorPage1 h3{
  font-weight: normal;
}

/*.pitchTopic-content{
  background-color: #f1f1f1;
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}*/

.content{
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#pitchTopic-img {
  width: 90%;
}

#requirement-img {
  width: 100%;
}
.content h2{
  font-size: 24px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: myFontB;
}

.content h3{
  font-size: 24px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: myFontDB;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: white;
  width: 90%;
}

.marginTop{
  margin-top: 7%;
}

.refinement{
  background-color: rgb(241, 241, 241, 0.5);
  width: 75%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

.refinement h3{
  font-weight: bold;
}

.refinementText{
  margin-bottom: 0;
}

/*--------------------------------------------------
 # Investor Page 2
--------------------------------------------------*/
.timerBlock{
  background-color: rgb(241, 241, 241, 0.5);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

.timerBlock h1{
  font-size: 45px;
}

#investorPage2 hr{
  width: 80%;
  margin-top: 8%;
  margin-bottom: 8%;
  color: #f1f1f1;
}

.refinement h4{
  margin-top: 0;
  margin-bottom: 3%;
  padding-left: 5%;
  font-size: 18px;
}

.refinement h3{
  margin-top: 0;
  padding-left: 5%;
  font-size: 20px;
  font-family: myFontR;
  font-weight: normal;
}

#pitchTopic2, #pitchRefinement2, #personalInterest1, #personalInterest2 {
  font-size: 26px;
  font-weight: bold;
}

/*--------------------------------------------------
  # Investor Page 3
--------------------------------------------------*/
.note{
  font-weight: normal;
  font-size: 22px;
  font-family: myFontR;
}


